<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pixectra.app">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".PixectraApp"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--<meta-data android:name="io.branch.sdk.TestMode" android:value="true" />-->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_id" />

        <activity
            android:name=".MobileVerifyActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyProfileActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PicasaActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <!-- Branch install referrer tracking (optional) -->
        <receiver
            android:name="io.branch.referral.InstallListener"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_name" />
        <activity
            android:name=".SplashScreenActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="pixectra" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="refer.pixectra.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShippingAddressForm"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectAddressActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhotobookActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PosterActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".WelcomeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImageSelectActivity"
            android:configChanges="orientation"
            android:label="Select Images.."
            android:screenOrientation="portrait" />
        <activity
            android:name=".LinkedAccounts"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FacebookActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="24d096531d852632ab1c7f98d4485791c5e5eaa1" />

        <activity
            android:name=".CroppingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Checkout"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayUMoneyActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".orders_placed"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".subscription_list"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SubscriptionActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaymentStatus"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Utils.QReader"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VideoSelection"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <service
            android:name=".UploadService"
            android:exported="false" />

    </application>

</manifest>